# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg-info/
dist/
build/
*.egg
*.egg-info
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo

# Virtual Environment
venv/
env/
# Add any other virtual environment directories you use

# Miscellaneous
.DS_Store
Thumbs.db

# IDE/Editor specific files
.idea/
.vscode/

# TDW Added
.obsidian/
